# Calibre-Web Environment Variables
# Please copy this file to .env and set the appropriate values
# execute: 'cp .env.example .env'

# Default docker settings
# Id and group for file permissions
PUID=1000
PGID=1000
# Timezone setting
TZ=Europe/London
# Docker volumes path
DOCKER_VOLUMES_PATH=/mnt/pool/docker-volumes

# Calibre library path
CALIBRE_LIBRARY_PATH=/mnt/pool/path-to-your-calibre-library