# Beszel Hub Environment Variables
# Please copy this file to .env and set the appropriate values
# execute: 'cp .env.example .env'

# Default docker settings
# Id and group for file permissions
PUID=1000 
PGID=1000
# Timezone setting
TZ=Europe/Paris
# Docker volumes path
DOCKER_VOLUMES_PATH=/mnt/pool/docker/volumes

# Beszel Hub specific settings
BESZEL_HUB_APP_URL=http://localhost:8090
BESZEL_HUB_CONTAINER_DETAILS=true
BESZEL_HUB_MFA_OTP=true

# If configuring OIDC or SAML authentication, set this to true to disable password auth after initial setup
BESZEL_HUB_DISABLE_PASSWORD_AUTH=false
# If configuring OIDC or SAML authentication, consider this setting
BESZEL_HUB_USER_CREATION=false