services:
  code-server:
    image: lscr.io/linuxserver/code-server:latest
    container_name: code-server
    restart: unless-stopped
    environment:
      PUID: ${PUID}
      PGID: ${PGID}
      TZ: ${TZ}
    volumes:
      - ${DOCKER_VOLUMES_PATH}/code-server/config:/config
      - ${DOCKER_PATH}:/docker
      # You may uncomment and add extra paths if needed
      #- ${EXTRA_PATH_1}:/extra1
      #- ${EXTRA_PATH_2}:/extra2
    expose:
      - 8443
    networks:
      - pangolin

networks:
  pangolin:
    external: true