# Docmost Environment Variables
# Please copy this file to .env and set the appropriate values
# execute: 'cp .env.example .env'

# Default docker settings
# Id and group for file permissions
PUID=1000
PGID=1000
# Timezone setting
TZ=Europe/Paris
# Docker volumes path
DOCKER_VOLUMES_PATH=/mnt/pool/docker/volumes

# App settings
APP_URL=https://docmost.yourdomain.com
PORT=3000
JWT_TOKEN_EXPIRES_IN=15d
DISABLE_TELEMETRY=true
DRAWIO_URL=https://drawio.yourdomain.com

# Database settings
APP_SECRET=a-very-long-random-secret-for-docmost-application
DB_PASSWORD=a-very-long-30-character-random-password-for-postgres

# Email settings
MAIL_DRIVER=smtp
SMTP_HOST=
SMTP_PORT=
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_SECURE=
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME=Docmost
