# Wizarr Environment Variables
# Please copy this file to .env and set the appropriate values
# execute: 'cp .env.example .env'

# Default docker settings
# Id and group for file permissions
PUID=1000
PGID=1000
# Timezone setting
TZ=Europe/London
# Docker volumes path
DOCKER_VOLUMES_PATH=/mnt/pool/docker-volumes

# Set to true ONLY if you are using another auth provider (Authelia, Authentik, etc)
DISABLE_BUILTIN_AUTH=false