# Watchtower Environment Variables
# Please copy this file to .env and set the appropriate values
# execute: 'cp .env.example .env'

# Default docker settings
# Id and group for file permissions
PUID=1000
PGID=1000
# Timezone setting
TZ=Europe/Paris

# App settings
# If using ntfy for notifications, set the URL below
WATCHTOWER_NOTIFICATION_SKIP_TITLE=True
WATCHTOWER_NOTIFICATION_URL=ntfy://your_ntfy_server/your_topic?title=WatchtowerUpdates