# Beszel agent Environment Variables
# Please copy this file to .env and set the appropriate values
# execute: 'cp .env.example .env'

# Default docker settings
# Id and group for file permissions
PUID=1000
PGID=1000
# Timezone setting
TZ=Europe/Paris
# Docker volumes path
DOCKER_VOLUMES_PATH=/mnt/pool/docker/volumes

# Beszel agent specific settings
BESZEL_AGENT_LISTEN_ADDRESS=45876
BESZEL_AGENT_KEY=<public key>
BESZEL_AGENT_TOKEN=<token>

# If confifured on the same system as the Beszel Hub, set the hub URL to:
# BESZEL_HUB_URL=/beszel_socket/beszel.sock
BESZEL_HUB_URL=http://localhost:8090